main
  .maincontent
    include ../common/decor
    include ../common/webmaster
    include ../common/header
    include ../common/description
    include ../common/footer
  .wave
    include ../common/wave    
  .rules
    include ../common/rules__header
    include ../common/rules__desc
    include ../common/rules__list
    include ../common/results__list
  .wave2    
    include ../common/wave2 
   



          
