.decor
  img(src=require("../../img/decor/burger.png"), alt="burger").decor__img.decor__img_burger
  img(src=require("../../img/decor/cake.png"), alt="cake").decor__img.decor__img_cake
  img(src=require("../../img/decor/pizza.png"), alt="pizza").decor__img.decor__img_pizza
  img(src=require("../../img/decor/fries.png"), alt="fries").decor__img.decor__img_fries