.description.container
  .description__banner
    .description__bg
    .description__image
      img(src=require("../../img/content/money.png"), alt="money").description__pic
  .description__text
    h1.description__title Хайпани <br>на похудалках весной 2019!
    h4.description__subtitle Конкурс по наливу трафа от ad1.ru
    h5.desription__date с 1 марта по 13 мая
    button.description__btn 
      p.btn-title Принять участие
    ul.description__list
      li.description__item
        p 1 место
        p.description__item_prize 100k
      li.description__item
        p 2 место
        p.description__item_prize 50k
      li.description__item
        p 3 место
        p.description__item_prize 30k