.header.container
      a(href="#").header__logo
        img(src=require("../../img/logo/logo.svg"), alt="logo").logo__pic(href="#") 
      a.header__login  
        .arrow
        p.header__enter Вход