ul.results__list.container
  li.results__item
    .results__quantity
      h4.results__quantity.results__quantity_big 17
    p.results__desc Общее количество призовых мест
  li.results__item
    .results__quantity
      h4.results__quantity.results__quantity_small 13 
      p.results__month мая
    p.results__desc Результат объявим на Convert MeetUp
  .rules__decor
    .ellipse2    