ul.rules__list.container
  li.rules__item
    .rules__icon
      img(src=require("../../img/icons/extraslim.svg"), alt="extraslim")
    p.rules__name Экстраслим
  li.rules__item
    .rules__icon
      img(src=require("../../img/icons/slim1.svg"), alt="slim1")
      .rules__icon.rules__icon_slim
        img(src=require("../../img/icons/slim2.svg"), alt="slim2")
    p.rules__name SlimBiotic
  li.rules__item
    .rules__icon
      img(src=require("../../img/icons/mbl.svg"), alt="mbl")
    p.rules__name МБЛ-5