svg(xmlns:svg="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1022 189")
  defs
    linearGradient(id="linear-gradient" gradientTransform="rotate(-23)")
      stop(offset="0%" stop-color="#5735DE")
      stop(offset="50%" stop-color="#CF2C84")
      //- stop(offset="48%" stop-color="#CF2C84")
      stop(offset="100%" stop-color="#FFA41B")
    clipPath(id="myPath")
      path(d="M0.1-0.9-0.5 14.7c0 0 27.5 11.4 41.5 16.3 16.4 5.8 32.9 11.5 49.8 15.7 21.5 5.4 43.4 9.2 65.4 12.1 22 2.9 44.2 4.6 66.4 5.4 24.4 0.8 48.9 0.4 73.3-0.9 22.2-1.2 44.3-3.7 66.3-6.1 20.4-2.3 40.8-5 61.1-7.9 23-3.2 46-6.9 69-10.5 18.1-2.8 36.1-5.9 54.1-8.7 19.8-3 39.6-5.9 59.4-8.7 19.2-2.7 38.4-5.5 57.6-7.9 15.4-1.9 30.8-3.7 46.3-5.2 17.5-1.8 35-3.6 52.6-4.6 17.4-1 24.8-1.8 52.2-1.5 25.1 0.2 31.4 0.8 47.1 1.7 14 0.8 28 1.6 41.9 3.5 31.2 4.3 53.1 10.9 53.1 10.9 0 0 30.1 8.8 44.5 14.9 7.3 3.1 21.1 11.1 21.1 11.1l0.3-155z")
  rect(width="100%" height="100%" fill="url(#linear-gradient)"  clip-path="url(#myPath)")